<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">
    <Properties>
        <!-- 定义日志文件路径 -->
        <property name="log.path">/iot/iot-device-web/logs/</property>
        <property name="history.log.path">/iot/iot-device-web/logs/history/</property>
        <!-- 定义日志文件名 -->
        <property name="log.file">iot-device-web-running.log</property>
    </Properties>

    <Appenders>
        <!-- 控制台输出 -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5p %c{1}:%L - %m%n"/>
        </Console>

        <!-- 按照日期生成日志文件 -->
        <RollingRandomAccessFile name="RollingFile" fileName="${log.path}/${log.file}" filePattern="${log.path}/${log.file}-%d{yyyy-MM-dd}">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5p %c{1}:%L - %m%n"/>
            <Policies>
                <!-- 按照文件大小生成日志文件 -->
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <!-- 保留100个日志文件 -->
            <DefaultRolloverStrategy max="100">
                <!-- 压缩老化日志文件 -->
                <Delete basePath="${history.log.path}">
                    <IfFileName glob="${log.file}*.gz"/>
                    <IfLastModified age="7d"/>
                </Delete>
                <GzCompress/>
            </DefaultRolloverStrategy>
        </RollingRandomAccessFile>
    </Appenders>

    <Loggers>
        <!-- 日志输出级别为info -->
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingFile"/>
        </Root>
    </Loggers>
</Configuration>